
ul li {
  list-style-type: none;
}

.iconSize {
  font-size: 1.5rem;
}

.roundedImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid 2px red;
}

.imgBg {
  background-image: url(../../public/Back.png);
  background-position: center;
  background-size: cover;
}

.inputGroup {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

  label {
  color: #ccc;
  text-align: left;
}

.inputGroup input{
  color: #eee;
  width: 100%;
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  background: transparent;
  margin-top: 5px;
  border: solid 1px #ccc;
}


.button {
  background: red;
  color: #fff;
  padding: 13px 30px;
  border-radius: 6px;
  white-space: nowrap;
  transition: all 0.2s ease-in;
}

.button:hover {
  box-shadow: 1px 1px 14px rgba(0,0,0,0.2);
  background: #b60202;
}

.button div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button .btn-icon {
  font-weight: 900;
  margin-right: 10px;
}


.selected {
  background: #131313;
}

.icon {
  color: red;
}


.title {
  font-weight: 900;
  color: red;
  margin: 1rem 0;
}

.fileInput {
  position: relative;
  /* background: red; */
}
.fileInput > input {
  position: relative;
  background: transparent;
  border: none !important;
  z-index: 1;
}

.fileInput > input:focus {
  color: #333 !important;
}

.file {
  position: absolute;
  top: 25%;
  left: 28%;
  font-size: 1.5rem;
  z-index: 0;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
