

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  /* text-transform: capitalize; */
  line-height: 1.25;
  margin-bottom: 0.75rem;
  background: transparent;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 3.5rem;
  }
  h2 {
    font-size: 3rem;
  }
  h3 {
    font-size: 2rem;
  }
  h4 {
    font-size: 1.20rem;
  }

  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}

.btn {
  background: red;
  color: #fff;
  padding: 7px 30px;
  border-radius: 6px;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background: #b90505;
}

.imgBg {
  background-image: url(../public/Back.png);
  background-position: center;
  background-size: cover;
}

.inputGroup {
  width: 100%;
  display: block;
  margin: 1rem 0;
}

  label {
  color: #ccc;
  text-align: left;
}

.inputGroup input{
  color: #eee;
  width: 100%;
  display: block;
  padding: 10px 20px;
  border-radius: 6px;
  background: transparent;
  margin-top: 5px;
  border: solid 1px #ccc;
}

.termsLink {
  color: #eee;
}

